**CIND 820 - Capstone Project**

In this project, we will be working on heart failure clinical record dataset to analyse and predict which survival from heart failure.

For this study, we shall use famous Python packages to do basic data analysis. This includes Pandas, Sklearn and Pandas profiling package.

In [1]:
import sys
!{sys.executable} -m pip install -U pandas-profiling
!jupyter nbextension enable --py widgetsnbextension
!pip install matplotlib
!pip install graphviz

Requirement already satisfied: pandas-profiling in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (3.4.0)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (1.9.0)
Requirement already satisfied: htmlmin==0.1.12 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: matplotlib<3.6,>=3.2 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (3.4.3)
Requirement already satisfied: scipy<1.10,>=1.4.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (1.7.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (4.62.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.13.5)
Requirement already satisfied: multimethod<1.10,>=1.4 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (1.7)
Requirement already satisfied: requests<2.29,>=2.24.0 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (2.26.0)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (1.20.3)
Requirement already satisfied: missingno<0.6,>=0.4.2 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas-profiling) (1.3.4)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (0.1.0)
Requirement already satisfied: attrs>=19.3.0 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.6.3)
Requirement already satisfied: imagehash in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.2.1)
Requirement already satisfied: Pillow in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (8.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas-profiling) (2021.3)
Requirement already satisfied: joblib>=0.14.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from phik<0.13,>=0.11.1->pandas-profiling) (1.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from pydantic<1.11,>=1.8.1->pandas-profiling) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.7)
Requirement already satisfied: packaging>=21.3 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (21.3)
Requirement already satisfied: patsy>=0.5.2 in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: six in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib<3.6,>=3.2->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in /Users/sarwat.kabir/opt/anaconda3/lib/python3.9/site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.1.1)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Users/sarwat.kabir/opt/anaconda3/bin/python -m pip install --upgrade pip' command.
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK
zsh:1: command not found: pip
zsh:1: command not found: pip

The CSV data set file is uploaded by running the following code snippet.

In [4]:
import pandas as pd
import numpy as np

data_file="heart_failure_clinical_records_dataset.csv"
df = pd.read_csv(data_file)
print(df)

      age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]

In [6]:
# Let's display first 10 records 
df.head(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [7]:
# look at meta information about data, such as null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [8]:
# Let's see meta information about numeric data, we can also see if there any extreme values
df.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000